<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <update id="update">
        update dish set
            name = #{name},
            category_id = #{categoryId},
            price = #{price},
            image = #{image},

            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
            status = #{status},
            </if>
            update_time = #{updateTime},
            update_user = #{updateUser},
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from dish where id in
         <foreach collection="ids" open="(" close=")" item="dishId" separator=",">
            #{dishId}
        </foreach>
    </delete>

    <insert id="save">
        insert into dish
            (name, category_id, price, image,
             description, status,
             create_time, update_time, create_user, update_user)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <select id="countEnableDishByIds">
        select count(1) from dish where status = 1 and id in
        <foreach item="dishId" collection="ids" open="(" close=")" separator=",">
            #{dishId}
        </foreach>
    </select>

    <select id="countSetmealByDishIds">
        select count(1) from setmeal_dish where dish_id in
        <foreach item="dishId" collection="ids" open="(" close=")" separator=",">
            #{dishId}
        </foreach>
    </select>

    <select id="page" resultType="com.sky.entity.Dish">
        select * from dish <where>
            <if test="name != null and name != ''">
                and name like '%${name}%'
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>