<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportMapper">
    <select id="top10Dish">
        SELECT
        d.name as name,
        COALESCE(COUNT(o.id), 0) as number
        FROM dish d
        LEFT JOIN order_detail od ON d.id = od.dish_id
        LEFT JOIN (
            SELECT id
            FROM orders
            WHERE pay_status = 1
            AND order_time >= #{begin}
            AND #{end} > order_time
        ) o ON od.order_id = o.id
        GROUP BY d.id, d.name
        ORDER BY number DESC, d.name
        LIMIT 10
    </select>

    <select id="userStatistics">
        select date(create_time) as day, count(id) as user_count from user
        where create_time >= #{begin} and #{end} > create_time
        group by day order by day
    </select>

    <select id="turnoverStatistics">
        select date(order_time) as day, sum(amount) as turnover from orders
        where order_time >= #{begin} and #{end} > order_time and pay_status = 1
        group by day order by day
    </select>

    <select id="orderStatistics">
        select DATE(order_time) as day, count(*) as order_count from orders
        where order_time >= #{begin} and #{end} > order_time
        <if test="status != null">
            and status = #{status}
        </if>
        group by day order by day
    </select>

    <select id="getTotalOrderNum">
        select count(*) from orders
        where order_time >= #{begin} and #{end} > order_time
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
</mapper>