<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportMapper">
    <select id="top10Dish">
        select d.name as name, count(*) as count from
        dish d left join order_detail od on d.id = od.dish_id left join orders o on od.order_id = o.id
        where order_time >= #{begin} and #{end} > order_time and o.status = 5
        group by d.id order by count desc limit 10
    </select>
</mapper>